
<div id="all_contacts">
  <h2>All Contacts</h2>
      <% @@rolodex.contacts.each do |contact| %>
        <div class="contact">
        <ul>
          <li><%= contact.id %></li>
          <li><%= contact.first_name %> <%= contact.last_name %></li>
          <li><%= contact.address %></li>
          <li><%= contact.postcode %></li>
          <li><%= contact.place %></li>
          <li><%= contact.email %></li>
          <li><%= contact.notes %></li>
        </ul>
        </div>
      <% end %>
    </ul>
</div>

<%# 
  <h1> Contacts: </h1>
  <% @contacts.each do |contact| %>
 <%#  <li><%= contact.name %>
 <%#  <% end %>





<!-- ERB code: <% = function, <%= show the stuff -->

