<% content_for :title do %>
All contacts
<% end %>

<div class="all_contacts">
      <% @@rolodex.contacts_sort.each do |contact| %>
        <div class="contact">
        <ul>
          <li><%= contact.first_name %> <%= contact.last_name %></li>
          <li><%= contact.address %></li>
          <li><%= contact.postcode %> <%= contact.place %></li>
          <li><%= contact.email %></li>
          <li>Notes:<br><%= contact.notes %></li>
        </ul>
          <div class="edit"><a href="/contacts/<%= contact.id %>/edit">+</a></div>
        </div>
      <% end %>
    </ul>
</div>